body {

    font-size: 25px;
    padding: 50px;
    background-color: black;

}


h2{
    color: darkred;
    font-weight: bold;
}

h1{
    color: darkred;
}

label {
    font-weight: bold;
    color: darkred;
}

input[type="submit"] {
    background-color: darkred;
}

p{

    color: aliceblue;
}